parameters:
  level: max
  paths:
    - src
    - tests
  excludePaths:
    analyse:
      - src/Service/Order/*Test.php
  checkGenericClassInNonGenericObjectType: true
  checkMissingIterableValueType: true
  inferPrivatePropertyTypeFromConstructor: true
