includes:
  - phpstan-baseline.neon

parameters:
  level: max
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: false
  paths:
    - src
    - tests
  excludePaths:
    analyse:
      - src/Service/Order/*Test.php
  inferPrivatePropertyTypeFromConstructor: true
